.item {
  padding: 20px 0;
  text-align: center;
}

.author {
  margin-bottom: 5px;
  font-family: 'Bangers', sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: var(--accentColor);
}

.content {
  text-align: justify;
  font-family: 'Lobster Two', sans-serif;
  letter-spacing: 0.1em;
  color: var(--secondaryTextColor);
}

.content::first-letter {
  margin-left: 40px;
}
